
<div class="jumbotron">
  <div class="container">
    <p>Bruce Wayne</p>
    <h1 class="titulo">Batman</h1>
    <a href="https://es.wikipedia.org/wiki/Batman" target="_blank" class="btn btn-default">
      Más
      <span class="glyphicon glyphicon-eye-open" style=" color:green"></span>
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h2 style="display:inline">Historia</h2>
        <span class="label label-default">New</span>
      </div>
      <a href="https://es.wikipedia.org/wiki/Batman" target="_blank">Más</a>
      <p>Batman (conocido inicialmente como The Bat-Man) es un personaje creado por los estadounidenses
        Bob Kane y Bill Finger, y propiedad de DC Comics. Apareció por primera vez en la historia titulada
        «El caso del sindicato químico» de la revista Detective Comics n.º 27, lanzada por la editorial National
        Publications en mayo de 1939.
        La identidad secreta de Batman es Bruce Wayne (Bruno Díaz, en algunos países de habla hispana),
        un empresario multimillonario y filántropo de Gotham City. Después de ser testigo del asesinato
        de sus padres en un violento y fallido asalto cuando era niño, jura vengarse y combatir la delincuencia
        para lo cual se somete a un riguroso entrenamiento físico y mental. Adopta el diseño de un murciélago para
        su vestimenta, sus utensilios de combate y sus vehículos. A diferencia de los superhéroes, no tiene
        superpoderes: recurre a su intelecto, así como a aplicaciones científicas y tecnológicas para crear
        armas y herramientas con las cuales lleva a cabo sus actividades. Vive en la mansión Wayne, en cuyos
        subterráneos se encuentra la Batcave, el centro de operaciones de Batman. Recibe la ayuda constante
        de otros aliados, entre los cuales pueden mencionarse Robin, Batgirl (posteriormente Oráculo),
        Nightwing, el comisionado de la policía local, James Gordon y su mayordomo Alfred Pennyworth.</P>
      <a href="http://www.dccomics.com/characters/batman">
        <img src="https://vignette3.wikia.nocookie.net/dccu/images/1/17/Batman_Promo_shot.jpg/revision/latest?cb=20160612065804" width="300" height="350" alt="Pagina de batman" >
      </a>

    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h2>Inspiración</h2>
      </div>
      <p>Inicialmente, Batman apareció como un solitario combatiente del crimen.
        Su origen empezó a ser explorado a partir de Detective Comics número 33.
        Bruce Wayne es hijo del Dr. Thomas Wayne y su esposa Martha, dos empresarios exitosos y reconocidos
        en la sociedad de Gotham City. Su infancia transcurre en medio de privilegios y riquezas, predominantes
        durante su estancia en la mansión familiar. A los ocho años, cuando salían de una función de cine,
        sus padres son víctimas de un asalto en el que pierden la vida, asesinados por el delincuente
        Joe Chill; Bruce promete que hará todo lo posible por hacer de su ciudad un lugar más seguro,
        combatiendo el delito en cualquiera de sus formas. Con el afán de cumplir su sentencia,
        se somete a un riguroso entrenamiento físico y mental —aunque luego se percata de la necesidad
        de una identidad secreta, ya que según Wayne: «Los criminales son supersticiosos y cobardes, por
        lo que mis habilidades tienen que aprovechar sus temores para intimidarlos. Debo ser una criatura
        nocturna, oscura e impactante [...]»—. En ese mismo relato, la intromisión repentina de un
        murciélago que entra a través de la ventana de su cubículo influye en su idea de convertirse en
        el nuevo héroe: Batman.</P>
      <a href="http://www.dccomics.com/characters/batman">
        <img src="http://www.zonanegativa.com/imagenes/2017/01/batman-600x909-copia.jpg" alt="Pagina de batman" >
      </a>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h2>Identidad Secreta</h2>
      </div>

      <p>Los rasgos principales de Batman se resumen en «destreza física, habilidades deductivas y obsesión».
        La mayor parte de las características básicas de los cómics han variado por las diferentes
        interpretaciones que le han dado al personaje. Esto es ejemplificado en la percepción de Dennis O'Neil,
        donde señala lo siguiente: «Julie Schwartz creó su propio Batman en las dos series de DC Comics [Batman
        y Detective Comics], mientras que Murray Boltinoff hizo su versión personal para The Brave and the Bold.
        Aparte de la vestimenta, las dos versiones tenían muy pocas semejanzas entre sí; Schwartz y Boltinoff
        nunca coordinaron sus trabajos —ni pretendían hacerlo en ningún momento—. Simple y sencillamente, la
        continuidad no era algo importante en ese entonces».</P>
      <a href="http://www.dccomics.com/characters/batman">
        <img src="http://vignette1.wikia.nocookie.net/batman/images/c/c8/Batman_%2766_-_Adam_West_as_Batman_2.jpg/revision/latest?cb=20140731220401" alt="Pagina de batman" >
      </a>

      <br>

    </div>
  </div>
</div>
